<!doctype html>
<html>
<head>
    <title>Kerstmenu 2016</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'styles', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
	<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
	<link href="style.css" rel="stylesheet" type="text/css" />
	<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0" />
</head>
<body>
<div id="container">
    <header>
	<div class="width">
    		<h1><a href="/">Kerstmenu 2016</span></a></h1>
       	</div>
    </header>
    <nav>
	<div class="width">
    		<ul>
        		<li class="start"><a href="/">Home</a></li>
        	    <li class="end"><%= link_to 'Menu', dishes_path %></li>
        	</ul>
	</div>
    </nav>


    <div id="body" class="width">

		

		<section id="content">
			<%= yield %>
        </section>
        
        <aside class="sidebar">
	
            <ul>	
               <li>
                    <h4>Categori&euml;en</h4>
                    <ul>
                        <li><%= link_to 'Compleet Menu', dishes_path %></li>
                        <% Course.all.each do |course| %>
                        <li><%= link_to course.gang, course_path(course) %>
                        <% end %>
                    </ul>
                </li>
                
                <li>
                    <h4>Over het Menu</h4>
                    <ul>
                        <li class="text">
                        	<p style="margin: 0;">Deze site geeft de mogelijkheid om het Kerstmenu in te zien en aan te passen naar jullie eigen wensen. Mis je iets, of wil je iets gewijzigd zien, vul dan zelf het gerecht aan. In geval van vragen weten jullie ons vast wel te vinden!</p>
                        </li>
                    </ul>
                </li>
                
            </ul>
		
        </aside>
    	<div class="clear"></div>
    </div>
    <footer>
        <div class="footer-bottom">
            <p>&copy; Luc Janssen (c) 2016. <a href="http://zypopwebtemplates.com/">Free CSS Website Templates</a> by ZyPOP</p>
         </div>
    </footer>
</div>
</body>
</html>


